{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="hero text-center  rounded-t-xl grow flex flex-col">
    <div class="w-[70%] mx-auto flex flex-col justify-center items-center ">
        <h1 class="text-slate-50 bg-slate-800 opacity-75 text-2xl sm:text-3xl md:text-4xl  font-bold p-5 my-8 rounded-xl " >Entrez dans la bibliothèque...</h1>
        {{ include('security/_form-login.html.twig') }}
    </div>

</div> 
    
{% endblock %}
