<div class="text-center pt-8 bg-neutral-950 text-zinc-200 pb-8">
    <h2 class="text-3xl font-semibold pb-5">Comment ca marche !!! </h2>
    <ul class="mx-auto liste-info w-[85%] md:w-[70%] text-center ">
        <li>
            Vous pouvez ajouter un livre à la bibliotheque en faisant une recherche => bouton googleSearch
        </li>
        <li>
            Vous pouvez changer ou completer le résumé et affecter des genres litteraires => Bouton Editer (Disponible uniquement pour les livres que vous avez ajoutés)
        </li>
        <li>
            Vous pouvez ajouter des livres à votre liste de lecture, puis mettre une note et/ou un commentaire.
        </li>
        <li>
            Vous pouvez modifier le statut de lecture (A lire, En cours, terminé)
        </li>
        <li>
            Vous pouvez filter la librairie selon les 3 critères suivants : Genre, Liste de lecture (la votre ou celle d'un copain) et par recherche textuelle sur un Titre ou un Auteur(actif avec 3 caractères minimum).
    
        </li>
        <li>
            Sur la librairie, un pastille avec votre statut apparait sur tous les livres présents dans votre liste de lecture.
        </li>
        <li>
            Vous pouvez inviter une relation en cliquant sur le bouton orange "Parrainage"
        </li>
    </ul>
</div>