<!DOCTYPE html>
<html class="h-[100vh]">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}ShareBook{% endblock %}</title>
        <link rel="icon" type="image/jpg" href={{ asset('images/bouc_favicon.jpeg') }} />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="flex flex-col h-[100vh]  ">
            {{ include('home/_header.html.twig') }}
            {% include '_partials/_flash.html.twig' %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>